In [27]:
import numpy as np
import pandas as pd

import plotly.plotly as py
import plotly.tools as tls

In [28]:
tls.set_credentials_file(username='Atri', api_key='***********')

In [29]:
#Generating Choropleth Maps
address="C:\Data_jupyter\States.csv"
states=pd.read_csv(address)
states.columns=['code','region','pop','satv','satm','percent','dollars','pay']
states.head()

#dollars denote how many dollars state spend on education per year

  code region    pop  satv  satm  percent  dollars  pay
0   AL    ESC   4041   470   514        8    3.648   27
1   AK    PAC    550   438   476       42    7.887   43
2   AZ    MTN   3665   445   497       25    4.231   30
3   AR    WSC   2351   470   511        6    3.334   23
4   CA    PAC  29760   419   484       45    4.826   39

In [30]:
states['text']='SATv '+states['satv'].astype(str)+'SATm '+states['satm'].astype(str)+'<br>'+'State'+states['code']

data=[dict(type='choropleth',autocolorscale=False,locations=states['code'],z=states['dollars'], locationmode='USA-states', 
          text=states['text'],colorscale='custom-colorscale', colorbar=dict(title="thousand-dollars"))]
data

[{'autocolorscale': False,
  'colorbar': {'title': 'thousand-dollars'},
  'colorscale': 'custom-colorscale',
  'locationmode': 'USA-states',
  'locations': 0     AL
  1     AK
  2     AZ
  3     AR
  4     CA
  5     CO
  6     CN
  7     DE
  8     DC
  9     FL
  10    GA
  11    HI
  12    ID
  13    IL
  14    IN
  15    IA
  16    KS
  17    KY
  18    LA
  19    ME
  20    MD
  21    MA
  22    MI
  23    MN
  24    MS
  25    MO
  26    MT
  27    NE
  28    NV
  29    NH
  30    NJ
  31    NM
  32    NY
  33    NC
  34    ND
  35    OH
  36    OK
  37    OR
  38    PA
  39    RI
  40    SC
  41    SD
  42    TN
  43    TX
  44    UT
  45    VT
  46    VA
  47    WA
  48    WV
  49    WI
  50    WY
  Name: code, dtype: object,
  'text': 0     SATv 470SATm 514<br>StateAL
  1     SATv 438SATm 476<br>StateAK
  2     SATv 445SATm 497<br>StateAZ
  3     SATv 470SATm 511<br>StateAR
  4     SATv 419SATm 484<br>StateCA
  5     SATv 456SATm 513<br>StateCO
  6     SATv 430SATm 471<br>StateCN
  7     SATv 433SATm 470<br>StateDE
  8     SATv 409SATm 441<br>StateDC
  9     SATv 418SATm 466<br>StateFL
  10    SATv 401SATm 443<br>StateGA
  11    SATv 404SATm 481<br>StateHI
  12    SATv 466SATm 502<br>StateID
  13    SATv 466SATm 528<br>StateIL
  14    SATv 408SATm 459<br>StateIN
  15    SATv 511SATm 577<br>StateIA
  16    SATv 492SATm 548<br>StateKS
  17    SATv 473SATm 521<br>StateKY
  18    SATv 476SATm 517<br>StateLA
  19    SATv 423SATm 463<br>StateME
  20    SATv 430SATm 478<br>StateMD
  21    SATv 427SATm 473<br>StateMA
  22    SATv 454SATm 514<br>StateMI
  23    SATv 477SATm 542<br>StateMN
  24    SATv 477SATm 519<br>StateMS
  25    SATv 473SATm 522<br>StateMO
  26    SATv 464SATm 523<br>StateMT
  27    SATv 484SATm 546<br>StateNE
  28    SATv 434SATm 487<br>StateNV
  29    SATv 442SATm 486<br>StateNH
  30    SATv 418SATm 473<br>StateNJ
  31    SATv 480SATm 527<br>StateNM
  32    SATv 412SATm 470<br>StateNY
  33    SATv 401SATm 440<br>StateNC
  34    SATv 505SATm 564<br>StateND
  35    SATv 450SATm 499<br>StateOH
  36    SATv 478SATm 523<br>StateOK
  37    SATv 439SATm 484<br>StateOR
  38    SATv 420SATm 463<br>StatePA
  39    SATv 422SATm 461<br>StateRI
  40    SATv 397SATm 437<br>StateSC
  41    SATv 506SATm 555<br>StateSD
  42    SATv 483SATm 525<br>StateTN
  43    SATv 413SATm 461<br>StateTX
  44    SATv 492SATm 539<br>StateUT
  45    SATv 431SATm 466<br>StateVT
  46    SATv 425SATm 470<br>StateVA
  47    SATv 437SATm 486<br>StateWA
  48    SATv 443SATm 490<br>StateWV
  49    SATv 476SATm 543<br>StateWI
  50    SATv 458SATm 519<br>StateWY
  Name: text, dtype: object,
  'type': 'choropleth',
  'z': 0     3.648
  1     7.887
  2     4.231
  3     3.334
  4     4.826
  5     4.809
  6     7.914
  7     6.016
  8     8.210
  9     5.154
  10    4.860
  11    5.008
  12    3.200
  13    5.062
  14    5.051
  15    4.839
  16    5.009
  17    4.390
  18    4.012
  19    5.894
  20    6.184
  21    6.351
  22    5.257
  23    5.260
  24    3.322
  25    4.415
  26    5.184
  27    4.381
  28    4.564
  29    5.504
  30    9.159
  31    4.446
  32    8.500
  33    4.802
  34    3.685
  35    5.639
  36    3.742
  37    5.291
  38    6.534
  39    6.989
  40    4.327
  41    3.730
  42    3.707
  43    4.238
  44    2.993
  45    5.740
  46    5.360
  47    5.045
  48    5.046
  49    5.946
  50    5.255
  Name: dollars, dtype: float64}]

In [31]:
layout=dict(title='State Spending on Public Education, $k/student',geo=dict(scope='usa',projection=dict(type='albers-usa'),
            showlakes=True,lakecolor='rgb(66,165,245)',),)
layout

{'geo': {'lakecolor': 'rgb(66,165,245)',
  'projection': {'type': 'albers-usa'},
  'scope': 'usa',
  'showlakes': True},
 'title': 'State Spending on Public Education, $k/student'}

In [19]:
fig=dict(data=data,layout=layout)
py.iplot(fig,filename='d3-choropleth-map')

In [32]:
address="C:\Data_jupyter\snow_inventory.csv"
snow = pd.read_csv(address)
snow.columns=['stn_id','lat','long','elev','code']

snow_sample= snow.sample(n=200, random_state=25, axis=0)
snow_sample.head()

           stn_id      lat     long   elev code
4479  USC00406292  36.4739 -81.8033  736.1   TN
2678  USC00237398  38.6856 -90.5231  137.2   MO
2902  USC00252820  40.0739 -97.1669  411.5   NE
2128  USC00170833  46.4283 -67.8442  128.0   ME
2138  USC00172878  47.2386 -68.6136  185.9   ME

In [41]:
data=[dict(type='scattergo',locationmode='USA-states',lon=snow_sample['long'],lat=snow_sample['lat'],
          marker=dict(size=12,autocolorscale=False, colorscale='custom-colorscale',color=snow_sample['elev'],
                     colorbar=dict(title='Elevation (m)')))]
layout=dict(title='NOAA Weather Snowfall Station Elevations',colorbar=True,
            geo=dict(scope='usa',projection=dict(type='albers usa'),showland=True,landcolor='rgb(250,250,250)',
                    subunitcolor="rgb(217,217,217)", countrycolor ='rgb(217,217,217)',countrywidth=0.5,subunitwidth=0.5))

fig=dict(data=data, layout=layout)
py.iplot(fig, validate=False,filename='d3-elevation')